*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    width: 100%;
    height: 100%;
}
.page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
.page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 90px;
    padding: 0 8vw;
}
.page1 nav .nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
    user-select: none;
    cursor: pointer;
}
.page1 nav .nav-left p span{
    color: #5279F6;
}
.page1 nav .nav-left img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.page1 nav .nav-right i{
    color: #5279F6;
    font-size: 25px;
    cursor: pointer;
}
.page1 .hero{
    background-color: #F3F4FC;
    height: calc(100% - 90px);
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.hero h3{
    margin-top: 2.8vw;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: Gilroy-SemiBold;
}
.hero h3::selection{
    background-color: #b9c8f9;
}
.hero h2{
    font-size: 3vw;
    line-height: 1.2;
}
.hero h2::selection{
    background-color: #b9c8f9;
}
.hero p{
    font-family: gilroy;
    line-height: 1.2;
}
.hero p::selection{
    background-color: #b9c8f9;
}
.btn{
    text-transform: uppercase;
    padding: 1vw;
    background-color: #5279F6;
    color: white;
    border: none;
    font-family: Gilroy-SemiBold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: rgb(55, 54, 54);
    color: #5279F6;
}
.hero img{
    width: 55%;
    object-fit: cover;
    border-radius: 5px;
    height: 22vw;
}
.page2{
    padding: 7vw 0;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    /* border: 1px solid green; */
}
.page2 .container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page2 .img{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.page2 .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page2 .container .right{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page2 .container .right h2{
    font-family: Gilroy-SemiBold;
    font-size: 2.5vw;
}
.page2 .container .right h2::selection{
    background-color: #b9c8f9;
}
.page2 .container .right p{
    color: #a09f9f;
}
.page2 .container .right p::selection{
    background-color: #b9c8f9;
}
.page2 .container .right .buttons button:nth-child(2){
    background-color: white;
    border: 2px solid #5279F6;
    color: black;
    margin-left: 20px;
}
.page2 .container .right .buttons button:nth-child(2):hover{
    border: 2px solid rgb(27, 27, 27);
    color: black;
}
.page2 .container .right .btn::selection{
    background-color: #b9c8f9;
}
.page3{
    width: 100%;
    height: 100vh;
    background-color: #F0F4FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3 .container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.page3 .container .about{
    width: 30%;
    padding: 0;
    display: flex;
    gap:1vw ;
    flex-direction: column;
    /* border: 2px solid green; */
    align-items: space-between;
}

.page3 .container .about .images img{
    width: 80px;

    object-fit: cover;
    user-select: none;
}
.page3 .container .about h2{
    font-family: Gilroy-SemiBold;
    font-size: 1.4vw;
    color: #1E2882;
}
/* .page3 .container .about:nth-child(2) h2{
    margin-top: 23px;
} */
.page3 .container .about h2::selection{
    background-color: #b9c8f9;
}
.page3 .container .about p{
    color:#a09f9f;
    font-size: 1.2vw;

}
.page3 .container .about p::selection{
    background-color: #b9c8f9;
}
footer{
    background-color: #1E2882;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #a09f9f;
}
footer p span{
    color: #F0F4FC;
    cursor: pointer;
}





